PI_DEFAULT_MODEL=anthropic/claude-opus-5-5
MB_PREMIUM_EMBEDDING_TOKEN=

ANTHROPIC_API_KEY=
OPENAI_API_KEY=
OPENROUTER_API_KEY=
GEMINI_API_KEY=
PI_WEB_PORT=30141

MB_ADMIN_EMAIL=admin@example.com
MB_ADMIN_PASSWORD=metasample123
MB_API_KEY=mb_xPvXDzrdBAwY2hALUqe00OEy3CFKEufudta3HHi2MGw=
MB_JETTY_PORT=3000
